body{
  display: flex;
}

#root{
  display: flex;
  background-color: rgb(255, 255, 255);
  margin-left: 20%;
  margin-right: 20%;
  line-break: strict;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem; 
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }

@media only screen and (max-width: 1200px){
  .item4{
    display: none;
  }
  .item3{
    margin-right: -15%;
  }
} 

.item4 { 
  grid-area: right;
  position: sticky !important;
  position: -webkit-sticky !important;
  top: 3em;
  height: auto;
  scale: 0.8;
}
.item5 { 
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main main main right'
    'footer footer footer footer footer footer';
  gap: .625rem;
  background-color: white;
  padding: .625rem;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
}