#root {
  background-color: rgb(255, 255, 255);
  line-break: strict;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
}
.App {
  display: grid;
  grid-template-areas:
    "head head head"
    "main main main"
    "main main main"
    "foot foot foot";
  grid-template-rows: 0.05fr 1fr 1fr 0.2fr;
}
header {
  grid-area: head;
  border-bottom: 2px solid rgb(224, 224, 224);
}
.grid-container {
  grid-area: main;

  display: grid;
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 0px;
  margin-bottom: 0px;

  padding: 0px !important;
  grid-template-areas:
    "a a a"
    "b b c"
    "b b c"
    "d d d";
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: white;
}

/* .item1 { grid-area: a;
  width: 100%; 
  height: 10em;
} */
.item3 { grid-area: b; }
.item4 { 
  grid-area: c;
  position: sticky !important;
  position: -webkit-sticky !important;
  top: 3em;
  height: auto;
}
.item4 {
  grid-area: c;
  min-width: fit-content;
  max-width: 450px;
}
@media only screen and (max-width: 850px) {
  .item4 {
    display: none;
  }
  .item3 {
    margin-right: -15%;
  }
}
.item5 {
  grid-area: d;
  border-top: 2px solid rgb(227, 227, 227);
  padding-top: 4em;
}
.item6 {
  grid-area: e;
}

footer {
  grid-area: foot;
  border-top: 2px solid rgb(227, 227, 227);
  background-color: rgb(249, 249, 249);
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
}
