#reviews-comment-section{
    width: 100%;
    background: white;
    position: relative;
}

/* Profile Image */
.profile-picture-image{
    grid-area: a;
    border-radius: 50%;
    height: 50px;
    width: 50px;

}

.ratings-title{
    text-align: left;
    margin-bottom: 1.5em;
    font-size: large;
    font-weight: bold;
}

.stats-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.stats-category{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: .5em;
    margin-bottom: .5em;
    padding-right: 10%;
}
.stats-category-category{
    margin-left: 0px;
    font-size: medium;
}

.progress{
    min-width: 30%;
    height: 5px;
    margin-left: auto;

}
.stats-category-rate{
    font-size: small;
    font-weight: bold;
    margin-right: 1em;
    margin-left: 1em;
}
.profile-section-container{
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    
}
.commentEntry{
    font-size: 1em;
    flex-basis: 50%;
    margin-bottom: 2em;
}
.commentEntry > .top{
    display: flex;
    margin-right: 10%;
}
.commentEntry > .top > .profile-text-wrapper{
    text-align: left;
    font-size: medium;
    margin-left: .3em;
}
.commentEntry > .bottom{
    text-align: left;
    margin-right: 10%;
    

}
.commentEntry > .bottom > .profile-review{
    margin: .1em;
    font-size: medium;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.progress-bar{
    background-color: black;
}