#reservationCard {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  min-width: 100px;
  margin-bottom: 5%;
  margin-left: 5rem;
}

#reservationCardContainer {
  position: sticky !important;
  top: 0 !important;
}

#reserveButton {
  cursor: pointer !important;
  margin: 0px !important;
  margin-top: 5% !important;
  margin-bottom: 5% !important;
  text-align: center !important;
  text-decoration: none !important;
  touch-action: manipulation !important;
  outline: none !important;
  padding: 14px 24px !important;
  transition: all 0.2s ease-in-out;
  border: none !important;
  border-radius: 12px !important;
  background: linear-gradient(
    to right,
    rgb(230, 30, 77) 0%,
    rgb(227, 28, 95) 50%,
    rgb(215, 4, 102) 100%
  ) !important;
  color: rgb(255, 255, 255) !important;
  width: 100% !important;
}

#reserveButton:hover {
  color: black;
  box-shadow: 5px 5px black;
  transform: translate(-5px);
}

#dropdown-autoclose-outside{
  margin-left: auto;
}

.alignleft {
  float: left;
  font-size: large;
  text-decoration: underline;
}
.alignright {
  float: right;
  font-size: large;
  text-align: justify;
}

#textbox {
  margin-bottom: 15%;
}

.minus {
  border-color: black;
  border-style: solid;
  border-radius: 50%;
  border-width: 2px;
  width: 30px;
  height: 30px;
}

.plus {
  border-color: black;
  border-style: solid;
  border-radius: 50%;
  border-width: 2px;
  width: 30px;
  height: 30px;
}

.dropdown-item {
  cursor: default !important;
}

.rs-picker-menu {
  z-index: 99999 !important;
}

.rs-picker-daterange {
  min-width: 100% !important;
}
