/* .searchInputs {
    width: 1500px;
    height: 10px;
    align-content: center;
    margin: 10px;

  }

  .inputBox {

    height: 20px;
    width: 100px;
    z-index: 10;
    border-radius: 10px;
    border: 1px;
    border-color: solid black;
    background-color: transparent; /* Set the bg image here. with "no-repeat" */
   } 
 */
